<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: rgb(235, 179, 118);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>replit</title>
    <link href="AdminMenu.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div>
      <button id="Logout" type="button">Log out</button>
    </div>

    <h1>Account Managment</h1>
    <div id="big-container">
      <div class="container">
        <a href="/AccountCreation">
          <button id="user" type="button">Create Account</button>
        </a>
      </div>
      <div id="div2">
        <a href="/AccountDelete">
          <button id="admin" type="button">Delete Account</button>
        </a>
      </div>
    </div>
    <script src="client.js"></script>
  </body>
</html>
