<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: rgb(252, 255, 255);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Button Menu</title>
  <link href="ButtonMenu.css" rel="stylesheet" type="text/css" />
  <!-- import the webpage's client-side javascript file -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- import socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="buttonMenu.js" async defer></script>
</head>
<body>
  <div>
    <form method="GET" action="/">
      <input id="Logout" type="submit" name="submit" value="Log out" />
    </form>
  </div>

  <h1>-PB&J Fund-</h1>
  <div id="big-container">
    <div class="container">
      <form method="GET" action="/chat">
        <input id="chat" type="submit" name="submit" value="Chat" />
      </form>
    </div>


    <div id="div2">
      <form action="https://pbandjfund.org/recipes/">
        <input type="submit" value="Recipes" id="recipes" />
      </form>
    </div>
    <div id="div3">
      <button id="FindFoodbank" type="button">Foodbanks</button>
    </div>
    <center>
      <div id="linesep"></div>
      <div id="div4">
        <form method="GET" action="/AdminMenu">
          <input
          id="AccountManager"
          type="submit"
          name="submit"
          value="Manage Accounts"
          />
        </form>
      </div>
    </center>
  </div>
</body>
</html>
