<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- import socket.io -->
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>PB&J Chats</h1>
    <!-- div to hold chats -->
	<div id="chats"></div>
    <!-- div to have input to send chats -->
	<div>
		<label for="chat">Enter Chat:</label><br>
		<input type="text" id="chat" name="chat"><br>
		<button id="submitbutton">Submit Chat</button>
	</div> 
    <script src="client.js" async defer></script>
  </body>
</html>
