<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Chat</title>
    <link href="chat.css" rel="stylesheet" type="text/css" />
    <!-- import the webpage's client-side javascript file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- import socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js" async defer></script>
  </head>
  <body>
    Chats
    <div class="horline1"></div>
    <div class="new5"></div>
  </body>
  <body2>
    <div class="ex1">
    </div>
  </body2>
  <body3>
    <div class="ex2">
      <div class="container darker">
        <img src="" alt="Avatar" class="right" style="width:100%;" />
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left">11:01</span>
      </div>
    </div>
    <div id="messageinpoott">
      <button id="sned_butt" type="button">Send</button>

      <form>
        <input
          id="messageinpoot"
          type="text"
          placeholder="Type message here"
          id="message"
          name="message"
        /><br />
      </form>
    </div>
  </body3>

  <div>
    <input id="back" type="submit" name="submit" value="Back" />
  </div>
</html>
