h1 {
  text-align: center;
  color: rgb(98,79,161);
  font-size: 69px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

         #body { 
          background-color: rgb(255,255,255);
          display: flex;
          flex-direction: column;
          justify-content: center;
              
              }
.container{
display: flex; 
flex-direction: row;
justify-content: center;
align-items: center;

}

#div2{
display: flex; 
flex-direction: row;
justify-content: space-around;
align-items: center;
  
}
#div3{
display: flex; 
flex-direction: row;
justify-content: space-around;
align-items: center;
  
}
#chat{
  background-color: white;
  border-color: black;
  border-radius: 40px;
  width: 500px;

  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#recipies{

  background-color: white;
  border-color: black;
  border-radius: 40px;
  width: 500px;

  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;

 
}


#FindFoodbank {
  background-color: white;
  border-color: black;
  border-radius: 50px;
  width: 500px;

  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
#linesep {
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 50px;
  background-color:white;
  height: -0px;
  margin-top: 25px;
  margin-bottom:-25px;
  width: 40px;
 
}  
#AccountManager {
 background-color: white;
  border-color: black;
  border-radius: 50px;
  width: 500px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}
#AccountManager:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#user:hover {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#admin:hover {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#FindFoodbank:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}