:root {
  --purple-color: #7967ad;
  --orange-color: #f0cf9c;
  --dark-orange: #d8a558;
}

h1 {
  text-align: center;
  color: rgb(98, 79, 161);
  font-size: 69px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#background3 {
  transform: rotate(-45deg);
  width: 100px;
}

#background4 {
  margin-right: 250px;
  transform: rotate(45deg);
  width: 100px;
}

#logo1 {
  width: 250px;
}

#user {
  background-color: #09fbeb;
  border-color: black;
  border-radius: 40px;
  font-size: 50px;
  font-family: Generic, serif, Times New Roman;
}

#admin {
  background-color: lime;
  border-color: black;
  border-radius: 40px;
  font-size: 50px;
  font-family: Generic, Serif, Times New Roman;
}

#adult:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 255, 16, 0.8);
}

#child:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(22, 204, 235, 0.8);
}

#loginmargin {
  margin-top: 20px;
}